<div class="list-friends-wrapper">    
    <ul id="list-friends" class="list-friends">
        <li style="color: white;"></li>
    </ul>
</div>
<div class="controls-friends">
    <button id="addFriend" class="add-friends d-block mb-0" href="{{ url_for('chat_bp.newChat' ) }}">+</button>
    <a href="{{ url_for('auth_bp.logout') }}"><button class="d-block mt-0">Logout</button></a>
</div>

<script>

    window.addEventListener('load', function() {
        var elapsed = 0;
        friends = getFriends();
        friends.then(
            f => redrawFriendsList(f.friends)
        )
        /* setInterval(function() {
            console.log('fetching messages...');
            getFriends().then(
                friends => redrawFriendsList(friends)
            )
        }, 6000) */
    });

    addFriendButton = document.getElementById('addFriend');
    /*document.addEventListener('click', function(event) {
        event.preventDefault();
        console.log('clicked #addFriend. thanks.');
    }, false);*/
    addFriendButton.onclick = function(event) {
        //window.location.replace("/wuggob");
        console.log('addFriend button clicked.')
        event.preventDefault();
        if (document.getElementById('message').value !== '') {
            const url = '/message/{{ chat }}'
            const options = {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json;charset=UTF-8'
                },
                body: JSON.stringify({
                    // eventually, the user and chat values can be pulled directly from 
                    // the python objects that are passed to the template (w/ logging)
                    message: document.getElementById('message').value,
                    user: '{{ current_user.id }}',
                    chat: '{{ chat }}'
                })
            };
            fetch(url, options)
            .then(response => {
                console.log('message send successfully.')
                console.log('fetching latest messages...');
                getMessages().then(
                    messages => redrawMessages(messages)
                )
                document.getElementById('message').value = '';
            });            
        } else {
            console.log('no message entered.');
        }
        
        //console.log('clicked. thnx');
    }

    var getFriends = function() {
        const url = '/user/friends/{{ current_user.id }}'
        const options = {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json;charset=UTF-8'
            }
        };
        console.log(url);
        return fetch(url)
        .then(response => response.json())
        .then(json => json)
        /*.then(data => {
            console.log(data);
            return data;
        })*/
    }

    var redrawFriendsList = function(friends) {
        console.log(friends);
        friends_ul = document.getElementById('list-friends');
        friends_ul.innerHTML = '';
        for (f in friends) {
            var _f = document.createElement('li');
            _f.innerHTML = friends[f].username + ' (online)';
            friends_ul.appendChild(_f);
        }
    }
</script>