{% extends 'shared/_layout.html' %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="home-container">
        <form class="login-form" action="{{ url_for('auth_bp.login') }}" method="POST">
            <input class="input" type="text" name="username" placeholder="username">
            <input class="input" type="password" name="password" placeholder="password">
            <button class="d-block font-bold" type="submit">Login</button>
        </form>
        <a class="signup-link d-block text-center" href="{{ url_for('auth_bp.signup') }}">Signup</a>

        {% if current_user.username %}
            <p><a href="{{ url_for('chat_bp.newChat' ) }}">New Chat</a></p>
            <br/>
            <p><a href="{{ url_for('auth_bp.logout') }}">Logout</a></p>
        {% endif %}
        
    </div>

    Logged in as: {{ current_user.username }}
    

{% endblock %}