{% extends 'shared/chat_layout.html' %}

{% block extra_css %}
    <link href="{{ url_for('static', filename='css/chat.css') }}" rel="stylesheet">
{% endblock %}

{% block friends %}
    <div class="list-friends">
        <a class="add-friends d-block mt-0 mb-0" href="{{ url_for('chat_bp.newChat' ) }}">+</a>
        <ul>
            <li>friend 1</li>
            <li>f5</li>
            <li>friend 1</li>
            <li>f2</li>
            <li>f3</li>
            <li>f4</li>
            <li>f5</li>
            <li>f6</li>
            <li>f7</li>
            <li>f8</li>
            <li>f2</li>
            <li>f3</li>
            <li>f4</li>
            <li>f5</li>
            <li>f6</li>
            <li>f7</li>
            <li>f8</li>
            <li>f2</li>
            <li>f3</li>
            <li>f4</li>
            <li>f5</li>
            <li>f6</li>
            <li>f7</li>
            <li>f8</li>
            <li>f2</li>
            <li>f3</li>
            <li>f4</li>
            <li>f5</li>
            <li>f6</li>
            <li>f7</li>
            <li>f8</li>
            <li>f2</li>
            <li>f3</li>
            <li>f4</li>
            <li>f5</li>
            <li>f6</li>
            <li>f7</li>
            <li>f8</li><li>f2</li>
            <li>f3</li>
            <li>f4</li>
            <li>f5</li>
            <li>f6</li>
            <li>f7</li>
            <li>f8</li>
        </ul>
    </div>
    <div class="controls-friends">
        <a href="{{ url_for('auth_bp.logout') }}">Logout</a>
    </div>
{% endblock %}

{% block chat %}

    Logged in as: {{ current_user.username }}
    

{% endblock %}